page-wallets {
    .tabbar {
        justify-content: center;
    }
    .flex-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom{
        ion-segment-button{
            height: 3.0rem !important;
        }
    }
    .svgicon{
        height: 20px;
        margin-top: 4px;
    }
    .symbol{
            height: 25px !important;
    }
}
