<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Account </ion-title>
    <ion-buttons end>
      <!--  -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding text-center>
    <div *ngIf="avatarPhoto" class="avatar" [style.background-image]="'url('+ avatarPhoto +')'">
    </div>

    <button ion-button clear (click)="selectAvatar()">Change photo</button>

    <input #avatar class="avatar-input" type="file" (change)="uploadFromFile($event)" />
  </div>

  <div>
    <ion-list>
      <ion-item>
        <strong>username</strong> {{ username }}
      </ion-item>
      <ion-item *ngFor="let attr of attributes">
        <strong>{{ attr.getName() }}</strong> {{ attr.getValue() }}
      </ion-item>
      <button ion-item (click)="changePassword()">Change Password</button>
      <button ion-item (click)="support()">Support</button>
      <button ion-item (click)="logout()">Logout</button>
    </ion-list>
  </div>

</ion-content>
